<!DOCTYPE html>
{% include 'navbar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts</title>
</head>
<style>
.mydiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  font-size:25px;
  width:85%;
  margin:auto;
  max-width:100%;
}
</style>

<body style = "background-color:lightblue">
<BR><BR><BR><BR>
<div class="mydiv" >
We’d love to hear from you<br><br>
    Whether your query is about features, materials, pricing, or anything else, our team is ready to answer all your questions.<br><br>
    <b>For Business Partnerships:</b> partnerships@d_design.com<br><br>
    <b>For Jobs:</b> careers@d_design.com <br><br>
    <b>For Others:</b> writetous@d_design.com<br><br>
</div>

</body>

{% endblock content %}
</html>